<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.0.0/cropper.min.css" integrity="sha256-FeDcPwV8ZgxG1MU5L/b2i8clOmqZJKK0eyDHqrQaXxY=" crossorigin="anonymous" />
</head>
<body>

    <style>
        .image_container{
            max-width: 400px;
            max-height: 225px;
          }

    </style>


    <section>
        <input type="file" name="image" id="image" onchange="readURL(this)"/>
        <img src="" alt="">
        <div class="image_container">
            <img id="blah" src="" alt="your image" />
        </div>
        <div id="cropped_result"></div>  
        <button id="crop_button">Crop</button> 
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.0.0/cropper.min.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                $('#blah').attr('src', e.target.result)
              };
              reader.readAsDataURL(input.files[0]);
              setTimeout(initCropper, 1000);
            }
          }
          function initCropper(){
            console.log("Came here")
            var image = document.getElementById('blah');
            var cropper = new Cropper(image, {
              aspectRatio: 16 / 9,
              crop: function(e) {
                console.log(e.detail.x);
                console.log(e.detail.y);
              }
            });
          
            // On crop button clicked
            document.getElementById('crop_button').addEventListener('click', function(){
              var imgurl =  cropper.getCroppedCanvas().toDataURL();
              var img = document.createElement("img");
              img.src = imgurl;
              img.width="200";
              img.height='100';
              document.getElementById("cropped_result").appendChild(img);
          
             
            })
          }
    </script>



    



</body>
</html>