{% extends 'base.html'%}
{% block link %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
body {
	color: #fff;
	background: #16a1c7;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
	border-color: #e1e1e1;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;		
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 15px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}	
.signup-form .btn, .signup-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #dc3545 !important;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #dc3545 !important;
}
.signup-form a {
	color: #fff;	
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #dc3545;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 21px;
}
.signup-form .fa-paper-plane {
	font-size: 18px;
}
.signup-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
</style>
{%endblock%}
{% block content %}
<section id="main-content">
	<section class="wrapper">
        <div class="signup-form">
            <form>
                <h2>Add Offer</h2>
                <hr>
                <label for="username">Offer Name</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                            </span>                    
                        </div>
                        <input type="text" class="form-control" id="name" name="name" placeholder="offer name" style="color: black;" required >
                    </div>
                </div>
                <label for="username">Category</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </span>                    
                        </div>
                        <select name="category" id="category" style="color: black;" onchange="change()">
                            <option value="0" selected>Choose one</option>
                            {% for room in rooms%}
                            <option value="{{room.category.id}}">{{room.category.category}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <label for="username">Discout Price</label> <br>
                <label for="" style="color: brown;">Actual Price:₹<span id="price"></span></label> 
                <script>
                    function change(){
                        {%for room in rooms %}
                            var category = $('#category').val()
                            if(category=='{{room.category.id}}'){
                                $('#price').html('{{room.price}}')
                            }
                        {% endfor %}
                    }
                    
                </script>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                            </span>                    
                        </div>
                        <input type="text" name="discount" id="discount">
                    </div>
                </div>
                <label for="username">From date</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>                    
                        </div>
                        <input type="date" name="fromdate" id="fromdate" onchange="change_todate()">
                    </div>
                </div>
                <label for="username">To date</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>                    
                        </div>
                        <input type="date" name="todate" id="todate">
                    </div>
                </div>
                <br><span id="span" style="color: red;"></span><br>
                <div class="form-group">
                    <button type="button" id="btn" class="btn btn-primary btn-lg">Create</button>
                </div>
            </form>
        </div>
    </section>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
    $('#btn').click(function(){
        var offer_name = $('#name').val()
        var category = $('#category').val()
        var discount = $('#discount').val()
        var from_date = $('#fromdate').val()
        var to_date = $('#todate').val()
        var data = {
            'csrfmiddlewaretoken':'{{csrf_token}}',
            'offer_name':offer_name,
            'category':category,
            'discount':discount,
            'from_date':from_date,
            'to_date':to_date
        }
        if(offer_name==''){
            $('#span').html('Enter the offer name')
        }else if(category=='0'){
            $('#span').html('select any category')
        }else if(isNaN(discount)||discount==''){
            $('#span').html('Enter the discount')
        }else if(from_date==''){
            $('#span').html('select from date')
        }else if(to_date==''){
            $('#span').html('select validity')
        }else{
            $.ajax({
                url:'/admin/addoffer/',
                method:'POST',
                data:data,
                dataType:'json',
                success:function(data){
                    if(data=='true'){
                        window.location.replace('/admin/viewoffer/')
                    }
                    if(data=='false'){
                        $('#span').html('Offer alreadt exist for this category')
                    }
                }
            })
        }

    })
</script>
<script>
    $(function(){
      var dtToday = new Date();
      
      var month = dtToday.getMonth() + 1;
      var day = dtToday.getDate();
      var year = dtToday.getFullYear();
      if(month < 10)
          month = '0' + month.toString();
      if(day < 10)
          day = '0' + day.toString();
      
      var maxDate = year + '-' + month + '-' + day;
      $('#fromdate').attr('min', maxDate);
      });
      function change_todate(){
        $('#todate').val('')
        var fromdate = $('#fromdate').val()
        var date = new Date(fromdate)
        var month = date.getMonth() +1;
        var day = date.getDate() +1;
        var year = date.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();
        
        var maxDate = year + '-' + month + '-' + day;
        $('#todate').attr('min', maxDate);
      }
  </script>
{%endblock%}